.navbar-nav {
    font-family: 'Cabin', sans-serif;
    margin-left: 60%;
}

.navbar-nav .nav-link {
    font-size: small;
    
}

.navbar {
    background-color: rgb(16, 15, 15);
    padding-top: 10px; 
    padding-bottom: 10px; 
    height: 60px;
}



.navbar-text,
.navbar-brand,
.nav-link {
    color: rgb(230, 236, 241) !important;
    font-family: 'Cabin', sans-serif;
    
}

.custom-search-input {
    height: 30px; 
}

